<%= form_tag(action: :results, method: :post) do %>
  <label for="notam">Please enter your NOTAMs:</label><br />
  <textarea name="notam" rows="8" cols="40"></textarea><br />
  <button type="submit" name="button">Submit</button>
<% end %>
